.button{
 	width: 122px;
	line-height:34px;
	height:30px;
	margin:0px 30px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	display:block;
	float:left;
	background-image:url(../images/buttonstyle.png);
	background-repeat:no-repeat;
	background-position:0px 0px;
	cursor:pointer;
}
.button:hover {
	background-image:url(../images/buttonstyle.png);
	background-repeat:no-repeat;
	background-position:0px center;
	cursor:pointer;
}
.button:active{
	background-image:url(../images/buttonstyle.png);
	background-repeat:no-repeat;
	background-position:0px bottom;
	cursor:pointer;
}